* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    margin: 5px;
}

/* HEADER */
.navFlex{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: black;
}

.navFlex a {
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

/* MAIN */
main{
    text-align: center;
}

.asideFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.carta {
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    margin: 5px;
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 15px;
    border: solid 1px black;
}

.carta img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.carta h2 {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    text-align: center;
    display: inline-block;
    background: transparent;
    color: black;
    border: solid 2px black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.button:hover {
    background: white;
    color: black;
}
/* FOOTER */
footer{
    text-align: center;
    background: orange;
    color: black;
    padding: 10px;
    margin: 10px;
}